<!DOCTYPE html>
<html>
    <head>
        <title>Youtube</title>
        <link rel="stylesheet" href="public/css,js/Style.css">
        <link rel="icon" type="image/x-icon" href="public/images/icons/favicon.ico">
    </head>
    <body>
        <nav class="navbar">
            <div class="toggle-btn" id="toggleBtn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <img src="public/images/icons/logo.PNG" class="logo" alt="logo">
            <div class="search-box">
                <input type="text" class="search-bar" placeholder="search">
                <button class="search-btn"><img src="public/images/icons/search.PNG" alt="Search"></button>
            </div>
            <div class="user-options">
                <div class="user-dp">
                    <a href="channel.html"><img src="public/images/icons/profile-pic.png" class="icon" alt="User"></a>
                </div>
            </div>
        </nav>
        <div class="side-bar close">
            <div class="links"><img src="public/images/icons/home.PNG" alt=""><span class="link-text">Home</span></div>
            <div class="links"><img src="public/images/icons/explore.PNG" alt=""><span class="link-text">explore</span></div>
            <div class="links"><img src="public/images/icons/subscription.PNG" alt=""><span class="link-text">subscription</span></div>
            <hr class="seperator">
            <div class="links"><img src="public/images/icons/library.PNG" alt=""><span class="link-text">Library</span></div>
            <div class="links"><img src="public/images/icons/history.PNG" alt=""><span class="link-text">History</span></div>
            <div class="links"><img src="public/images/icons/your-video.PNG" alt=""><span class="link-text">Your Video</span></div>
            <div class="links"><img src="public/images/icons/watch-later.PNG" alt=""><span class="link-text">Watch Later</span></div>
            <div class="links"><img src="public/images/icons/liked video.PNG" alt=""><span class="link-text">Liked Videos</span></div>
            <div class="links"><img src="public/images/icons/show more.PNG" alt=""><span class="link-text">Show More</span></div>
        </div>
        <div id="cover" class="Cover"><p>kkk</p></div>
        <main id="video-section">
        </main>
        <script src="public/css,js/Script.js">

        </script>
        
    </body>
</html>
