<!DOCTYPE html>
<html>
    <head>
        <title>Youtube</title>
        <link rel="icon" type="image/x-icon" href="public/images/icons/favicon.ico">
        <link rel="stylesheet" href= "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
        <link rel="stylesheet" href="public/css,js/BasePageStyle.css">
    </head>
    <body>
        <nav class="navbar">
            <div class="toggle-btn" id="toggleBtn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <img src="public/images/icons/logo.png" class="logo" alt="">
            <div class="search-box">
                <input type="text" class="search-bar" placeholder="search">
                <button class="search-btn"><img src="public/images/icons/search.png" alt=""></button>
            </div>
            <div class="user-options">
                <div class="user-dp">
                    <img src="public/images/icons/profile-pic.png" class="icon" alt="">
                </div>
            </div>
        </nav>
        <div class="side-bar">
            <div class="links"><img src="public/images/icons/home.png" alt="">Home</div>
            <div class="links"><img src="public/images/icons/explore.png" alt="">Explore</div>
            <div class="links"><img src="public/images/icons/subscription.png" alt="">Subscription</div>
            <hr class="seperator">
            <div class="links"><img src="public/images/icons/library.png" alt="">Library</div>
            <div class="links"><img src="public/images/icons/history.png" alt="">History</div>
            <div class="links"><img src="public/images/icons/your-video.png" alt="">Your Video</div>
            <div class="links"><img src="public/images/icons/watch-later.png" alt="">Watch Later</div>
            <div class="links"><img src="public/images/icons/liked video.png" alt="">Liked Videos</div>
            <div class="links"><img src="public/images/icons/show more.png" alt="">Show More</div>
        </div>
        <div id="cover" class="Cover"><p>kkk</p></div>
       
        <div id="content">
            <div id="mainContent">
                <div id="mainVideo">
                    <div class="video-container"> 
                        <img src= "https://media.geeksforgeeks.org/wp-content/uploads/20231020170918/Thumbnail-(1).jpg" id="video-thumbnail"> 
                        <video id="video"> 
                            <source src="https://media.geeksforgeeks.org/wp-content/uploads/20231020155223/Full-Stack-Development-_-LIVE-Classes-_-GeeksforGeeks.mp4" type="video/mp4"> 
                        </video> 
                            <div class="controls">
                                <div class="left">
                                    <button id="skipminus-10"> 
                                        <i class="fa-solid fa-backward"></i> 
                                    </button> 
                                    <button id="play-pause"> 
                                        <i class="fa-solid fa-play"></i> 
                                    </button> 
                                    <button id="skip-10"> 
                                        <i class="fa-solid fa-forward"></i> 
                                    </button> 
                                </div> 
                                <div class="video-timer"> 
                                    <span id="current-time">00:00</span> 
                                    <span id="separator">/</span> 
                                    <span id="max-duration">00:00</span> 
                                </div> 
                                <div class="playback-line"> 
                                    <div class="progress-bar"></div> 
                    
                                </div> 
                                <div class="right"> 
                                    <div class="volume-container"> 
                                        <div id="mute"> 
                                            <i class="fas fa-volume-up"></i> 
                                        </div> 
                                        <input type="range" 
                                            id="volume" 
                                            min="0" 
                                            max="1" 
                                            step="0.01" 
                                            value="1"> 
                                    </div> 
                                </div> 
                            </div>
                    </div>
                </div>
                <div id="description">
                    <div id="mainVideoInfo">
                        <h1 id="mainVideoTitle">BHKVkhvkhvkhvkhvhv</h1>
                        <div>
                            <div>
                                <div id="videoProfile">
                                    <img src=""/>
                                    <p><span id="mainChannelName">NKJlnjjkbhjbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbfjf</span><br/><span id="mainSubscribers">NKJfjf</span></p>
                                </div>
                                <button type="button">Subscribe</button>
                            </div>
                            <div>
                                <button type="button"><img src="public/images/icons/liked video.png"/><span id="likes">Helllo</span></button>
                                <button type="button"><img src="public/images/icons/liked video.png"/></button>
                            </div>
                        </div>
                    </div>
                    <div id="descriptionMain">
                        <button id="descriptionExtend" type="button">Show more</button>
                        <p ><span id="videoViews">dfgvFDA</span><span> </span><span id="videoTime">SAFSDFSDAFSFDSF</span></p>

                        <p id="descriptionText">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Sed neque deleniti aspernatur excepturi sit exercitationem inventore cum suscipit, ducimus, eos, ex labore earum quaerat distinctio vel laudantium possimus quas consequatur!Lore Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae porro dolore officiis deserunt, odio cum, saepe non consequuntur dolores iusto numquam voluptate corporis autem mollitia nam illo officia perspiciatis! Expedita?
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident sequi, temporibus id nostrum ab minus facilis distinctio amet ducimus, eligendi quia modi natus repellendus. Enim nesciunt veritatis molestias nihil excepturi
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident sequi, temporibus id nostrum ab minus facilis distinctio amet ducimus, eligendi quia modi natus repellendus. Enim nesciunt veritatis molestias nihil excepturiLorem ipsum dolor, sit amet consectetur adipisicing elit. Sed neque deleniti aspernatur excepturi sit exercitationem inventore cum suscipit, ducimus, eos, ex labore earum quaerat distinctio vel laudantium possimus quas consequatur!Lore Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae porro dolore officiis deserunt, odio cum, saepe non consequuntur dolores iusto numquam voluptate corporis autem mollitia nam illo officia perspiciatis! Expedita?
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident sequi, temporibus id nostrum ab minus facilis distinctio amet ducimus, eligendi quia modi natus repellendus. Enim nesciunt veritatis molestias nihil excepturi
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident sequi, temporibus id nostrum ab minus facilis distinctio amet ducimus, eligendi quia modi natus repellendus. Enim nesciunt veritatis molestias nihil excepturi</p>
                        
                    </div>
                </div>
                <hr/>
                <div id="comments"></div>
            </div>
            <div id="subContent"></div>
        </div>
        
  </div>
        <script src="public/css,js/BasePage.js"></script>
    </body>
</html>