<!DOCTYPE html>
<html>
    <head>
        <title>Youtube</title>
        <link rel="stylesheet" href="trash.css">
        <link rel="icon" type="image/x-icon" href="IMAGES/favicon.png">
    </head>
    <body>
        <nav class="navbar">
            <div class="toggle-btn" id="toggleBtn">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <img src="IMAGES/logo.PNG" class="logo" alt="">
            <div class="search-box">
                <input type="text" class="search-bar" placeholder="search">
                <button class="search-btn"><img src="IMAGES/search.PNG" alt=""></button>
                <button id="voice-search"><img src="IMAGES/voice-search.png" alt=""></button>
            </div>
            <div class="user-options">
                <img src="IMAGES/bell.PNG" class="icon" alt="">
                <img src="IMAGES/grid.PNG" class="icon" alt="">
                <img src="IMAGES/video.PNG" class="icon" alt="">
                <div class="user-dp">
                    <img src="IMAGES/profile-pic.png" class="icon" alt="">
                </div>
            </div>
        </nav>
        <div class="side-bar close">
            <div class="links"><img src="IMAGES/home.PNG" alt=""><span class="link-text">Home</span></div>
            <div class="links"><img src="IMAGES/explore.PNG" alt=""><span class="link-text">explore</span></div>
            <div class="links"><img src="IMAGES/subscription.PNG" alt=""><span class="link-text">subscription</span></div>
            <hr class="seperator">
            <div class="links"><img src="IMAGES/library.PNG" alt=""><span class="link-text">Library</span></div>
            <div class="links"><img src="IMAGES/history.PNG" alt=""><span class="link-text">History</span></div>
            <div class="links"><img src="IMAGES/your-video.PNG" alt=""><span class="link-text">Your Video</span></div>
            <div class="links"><img src="IMAGES/watch-later.PNG" alt=""><span class="link-text">Watch Later</span></div>
            <div class="links"><img src="IMAGES/liked video.PNG" alt=""><span class="link-text">Liked Videos</span></div>
            <div class="links"><img src="IMAGES/show more.PNG" alt=""><span class="link-text">Show More</span></div>
        </div>
        <main id="video-section">
        </main>
        <script src="trash.js">

        </script>
        
    </body>
</html>
