:root {
    --backgroundColor: rgb(30, 30, 31);
    --lighthoverColor: rgb(226, 226, 226);
    --searchbarlight:  rgb(219, 219, 219);
    --searchbtnback:   rgb(240, 240, 240);
    --navsidebarback:  rgb(255, 255, 255);
    --togglebtn:       rgb(151, 151, 151);
    --texthover:       rgba(0, 0, 0, 0.1);
    --black:           rgb(0,0,0);
    --sidebarfont:     rgb(36, 36, 36);
    --separator:       rgba(0, 0, 0, 0.1);
    --theme:           rgb(255,255,255);
}

.dark-theme{
    --theme:           rgb(40, 40, 40);
    --navsidebarback:  rgb(40, 40, 40);
    --sidebarfont:      rgb(170, 170, 170);
}

body{
    margin: 0;
    align-items: center;
    background-color:var(--theme);
}

/* -----Navigation Bar Top----- */
.navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background:var(--navsidebarback);
    display: flex;
    align-items: center;
    padding: 0 2.5vw;
    z-index: 2;
    align-items: center;
    justify-content: space-between;
}
.toggle-btn{
    width: 20px;
    height: 10px;
    position: fixed;
    cursor: pointer;
}

.toggle-btn span{
    position: absolute;
    width: 100%;
    height: 2px;
    top: 50%;
    transform: translateY(-50%);
    background:var(--togglebtn);
}

.toggle-btn span:nth-child(1){
    top: 0;
}

.toggle-btn span:nth-child(3){
    top: 100%;
}


.logo{
    height: 90px;
    margin: -10px 40px 0 ;
    cursor: pointer;
}

.search-box {
    position: relative;
    max-width: 500px;
    width: 50%;
    height: 40px;
    display: flex;
    box-sizing: border-box;
}

.search-bar {
    width: 85%;
    min-width: 50px;
    border: 2px solid var(--searchbarlight);
    padding: 0 20px;
    font-size: 16px;
    text-transform: capitalize;
    border-radius: 15px 0 0 15px;
}

.search-btn {
    width: 15%;
    background: var(--searchbtnback) ;
    border: 2px solid var(--searchbarlight);
    padding: 5px;
    border-left: none;
    border-radius: 0 15px 15px 0;
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.search-btn:hover {
    background-color: var(--lighthoverColor);
    cursor: pointer;
}

.search-btn img {
    height: 100%;
}
@media screen and (max-width: 600px) {

    .search-btn 
        {
        width: calc(35% - 2px);
    }
}

.checkbox {
    height: 30px;
    width: 60px;
    background: #222;
    appearance: none;
    border-radius: 160px;
    box-shadow: inset 0 8px 60px rgba(0,0,0,0.1),
                inset 0 8px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.1);
    position: relative;
    outline: none;
    cursor: pointer;
    transition: 0.5s;
    margin-top: 10%;
}

.checkbox::before {
    height: 95%;
    width: 50%;
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    background: linear-gradient(to bottom, #fff, #ddd);
    border-radius: 160px;
    transform: scale(0.9);
    transition: 0.5s;
    box-shadow: 0 8px 20px rgba(0,0,0,0.1),
                inset 4px 4px rgba(255,255,255,1),
                inset -4px 4px rgba(255,255,255,1);
}

.checkbox:checked {
    background: #fff;
    box-shadow: inset 0 2px 60px rgba(0,0,0,0.1),
                inset 0 2px 8px rgba(0,0,0,0.1),
                inset 0 -4px 4px rgba(0,0,0,0.05);
}

.checkbox:checked::before {
    left: 30px;
    box-shadow: 0 8px 40px rgba(0,0,0,0.5),
                inset 4px 4px rgba(255,255,255,0.2),
                inset -4px 4px rgba(255,255,255,0.2);
    background: linear-gradient(to bottom, #000, #222);
}

.checkbox::after {
    content: "";
    position: absolute;
    height: 95%;
    width: 50%;
    top:5px;
    left:20px;
    z-index: -1;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}

.checkbox:checked::after {
    background: #fff;
    content: none;
}

.user-options{
    height:50px;
    display: flex;
    align-items: center;
    margin-right:50px ;
    margin-left:2%;
    margin-top:10px;
}

.user-options .icon{
    height: 80%;
    cursor: pointer;
    margin-right: 20px;
}

.user-dp{
    cursor: pointer;
    height:50px;
    width: 50px;
}

.user-dp img{
    object-fit: cover;
    border-radius: 30px;
}

/* ----Side Bar Left----- */

a{
    color:var(--black);
    text-decoration: none;
}
.links{
    display: block;
    min-width: fit-content;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    text-transform: capitalize;
    color:var(--sidebarfont);
    font-size: 20px;
    font-weight: 500;
    text-decoration: none;
    cursor: pointer;
    transform: translateX(-5%);
    transition:  transform 0.3s ease;
}


.links:hover
{
    background: var(--texthover);
}
.links img {
    display: block; 
    height: 25px;
    margin-right: 20px;
    visibility: visible;
}

.link-text {
    display: none;
}


.side-bar {
    transform: translateX(-100%);
    transition: transform 0.3s ease;
}

.side-bar.show {
    transform: translateX(0);
    top: 60px;
}

.side-bar{
    position: fixed;
    top: 60px;
    left: 0;
    z-index: 100;
    height: calc(100vh - 58px);
    background: var(--navsidebarback);
}

.show-text {
    display: block; 
    transform: translateX(0);
    transition:text 1s ease;
}

.separator{
    border: none;
    border-bottom: 1px solid var(--separator);
}

@media screen and (max-width:900px){
    .navbar .checkbox{
        display: none;
    }
}

@media screen and (min-width:900px){
    .side-bar .checkbox,label{
        display: none;
    }
}

 .side-bar #theme{
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}


#cover {
    position: fixed;
    top: 60px; 
    left: 0;
    width: 100%;
    height: calc(100vh - 60px); 
    background-color:var(--black);
    visibility: hidden;
    z-index: 7;
    opacity: 0.8;
}

#cover.show {
    visibility: visible;
}